
.sectionAdmin{
    position: relative;
}
.signOutBtn{
    position: absolute;
    top: 0;
    right: 0;
}
.admArt{
    position: relative;
}
.btnCont{
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
}
.artBtn{
    display: inline;
}
.artBtn button{
    margin: 2px;
}