.editForm {
  position: relative;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem;
  background-color: var(--green-500);
  border-radius: 8px;
  box-shadow: 5px 5px 10px #1e2828b8;
}
.h2 {
  font-size: 1.5rem;
  display: block;
  text-align: center;
}
.label {
  display: block;
}
.titleInp {
  width: 100%;
}
.textArea {
  width: 100%;
  height: 5rem;
}
.submitBtn {
  border-radius: 6px;
  background-color: rgb(107, 107, 217);
  padding: 0.25rem;
  margin-right: 1rem;
  margin-left: auto;
}
.closeBtn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 0rem;
  top: 0.25rem;
}
