

.newsArticle{
    padding: 1rem;
  /* border-bottom: #645cff 2px solid; */
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px #1e2828b8;
  margin: 1rem 0.5rem;
  }
  .imgCont{
width: 100%;
  }
  .imgNext{
    margin: 1rem auto;
    /* width: 300px;
    height: auto; */
  }