
.pag{
    display: flex; 
    width: 12rem;
    margin: 0.5rem auto;
    justify-content: space-between;
    align-items: center;
}
.pag_btn{
    width: 2rem;
    margin: 0.25rem;
    padding: 0.25rem;
}
.disabledBtn{
   
    color: rgb(88, 88, 88);
}